.logo_image{
    width:82px;
}
.navigating_kanbas_sidebar {
    background-color: black;
    list-style: none;
    margin-right: 21px;
    width: 82px;
    font: Helvetica;
    height: 130vh;
    padding: 0px;
}

.navigation_margin_bar{
    margin-left: -15px;
    margin-right: -15px;
}

.navigating_kanbas_sidebar li.highlight_widget{
    background-color: white;
    color: rgb(207, 28, 28);
}
.navigating_kanbas_sidebar li.highlight_widget i{
    color: rgb(207, 28, 28);
}

.card-title{
    color: rgb(0, 128, 255);
    font-size: 16px;
}

.style_board a{
    text-decoration: none;
    font-size: 13px;
}

.navigating_kanbas_sidebar li a{
    color : white;
    text-decoration : none;
}

.navigating_kanbas_sidebar li{
    text-align : center;
    padding: 10px;
    font-size: 0.7em;
    margin-bottom: 12px;
}

.card-title{
    font-size: 16px;
}

.navigating_kanbas_sidebar li.highlight_widget a{
    background-color: white;
    color: rgb(207, 28, 28);
}

.navigating_kanbas_sidebar li i{
    color : rgb(207, 28, 28);
    font-size: 25px;
}

.fa-user-circle::before{
    color: #5e6064;
}

.top_title_course{
    padding-top: 30px;
    font-size: 20px;
    margin-left: 10px;
}