.main_content{
    margin-top: 150px;
}
.form-select.publish-dropdown{
    width: 150px;
}

.main_content-2,.main_content-1{
    margin-top:30px;
    min-width: 100px;
}

ul.wd-acc-nav {
    list-style: none;
}
.wd-acc-nav a{
 text-decoration: none;
 color:rgb(172, 23, 23);
}
.wd-acc-nav i{
    color:rgb(172, 23, 23);
}
.top-menu{
    color:black;
}
.text-inside-nav{
    color:white;
}